body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: #fdfdfd;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.navbar {
	margin-bottom: 40px;
}

/*Base Styles*/

@import url('https://fonts.googleapis.com/css?family=Work+Sans');


.navbar {
	overflow: hidden;
	background: #fff;
	box-shadow: 0px 5px 25px rgba(0, 0, 0, .05);
	border-radius: 5px;
	font-family: 'Work Sans', sans-serif;
}

.navbar a {
	float: left;
	display: block;
	color: #333;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 15px;
	height: 20px;
	line-height: 1.2;
}

.navbar a:hover {
	background-color: none!important;
	color: #fff;
}

.navbar .active {
	background-color: #333;
	color: #fff!important;
}

.navbar a.active:hover, .navbar a.bars-icon:hover {
	background-color: #222;
	color: #fff!important;
}

.navbar input[type=text] {
	float: right;
	padding: 6px;
	border: none;
	margin-top: 8px;
	margin-right: 8px;
	font-size: 15px;
	height: 20px;
	width: 220px;
	outline: none;
	background: #f3f3f3;
	border-radius: 5px;
	text-indent: 6px;
}

.navbar .bars-icon {
	display: none;
	color: #fff;
	background: #fff;
}

.navbar .dropdown {
	float: left;
	overflow: hidden;
}

.navbar .dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	z-index: 1;
	margin-top: 48px;
	background-color: #fff;
	box-shadow: 0px 5px 25px rgba(0, 0, 0, .05);
}

.navbar .dropdown-content a {
	float: none;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.navbar a:hover, .navbar .dropdown:hover .dropbtn {
	background-color: none;
	color: #333!important;
}

.navbar .dropdown-content a:hover {
	background-color: #f3f3f3;
	color: #cf5baf;
}

.navbar .dropdown:hover .dropdown-content {
	display: block;
}

.navbar .icon-link {
	float: right;
}

.navbar .icon-link span {
	display: none;
}

.navbar .dropdown-content {
	border-radius: 5px;
}

.navbar .dropdown-content a:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.navbar .dropdown-content a:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/*Responsive Styles*/

@media screen and (max-width: 767px) {
	.navbar a, .navbar div {
		display: none;
	}
	
	.navbar input[type=text] {
		display: none;
		border-radius: 0;
		text-indent: 0;
	}
	
	.navbar a.bars-icon {
		float: right;
		display: block;
	}
	
	.navbar.responsive .dropdown-content {
		float: none;
		display: none;
		position: relative;
		text-decoration: none;
		text-align: left;
	}
	
	.navbar.responsive .dropdown-content.expanded {
		display: block!important;
	}
	
	.navbar .dropdown-content, .navbar .dropdown-content a {
		margin-top: 0;
		border-radius: 0px!important;
	}
		
	.navbar .dropdown-content a {
		padding-left: 32px!important;
	}
	
	.navbar.responsive {
		position: relative;
		padding-top: 48px; /*Offset 'bars' icon button*/
	}
	
	.navbar.responsive .bars-icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	
	.navbar.responsive a, .navbar.responsive div {
		float: none;
		display: block;
		text-align: left;
	}
	
	.navbar.responsive input {
		float: none;
		display: block;
		text-align: left;
		width: 100%;
		padding: 14px 16px;
		margin: 0;
	}
	
	.navbar .icon-link i {
		display: none;
	}
	
	.navbar .icon-link span {
		float: none;
		display: inline;
	}
}


/********** Navigation Bar Style 1 *********/

.navbar-style-1 a:hover, .navbar-style-1 a.bars-icon, .navbar-style-1 .navbar a:hover, .navbar-style-1 .dropdown:hover .dropbtn {
	color: #cf5baf!important;
}

.navbar-style-1 .active, .navbar-style-1 a.bars-icon:hover {
	background-color: #cf5baf;
	background-image: -moz-linear-gradient( 60deg, rgb(172,93,209) 0%, rgb(238,90,145) 100%);
	background-image: -webkit-linear-gradient( 60deg, rgb(172,93,209) 0%, rgb(238,90,145) 100%);
	background-image: -ms-linear-gradient( 60deg, rgb(172,93,209) 0%, rgb(238,90,145) 100%);
}


/********** Navigation Bar Style 2 *********/

.navbar-style-2 a:hover, a.dropbtn:hover, .navbar-style-2 a.bars-icon, .navbar-style-2 .navbar a:hover, .navbar-style-2 .dropdown:hover .dropbtn  {
	color: #0ab4e2!important;
}

.navbar-style-2 .active, .navbar-style-2 a.bars-icon:hover {
	background-color: #0ab4e2;
	background-image: -moz-linear-gradient( 60deg, rgb(39,121,255) 0%, rgb(3,194,219) 100%);
	background-image: -webkit-linear-gradient( 60deg, rgb(39,121,255) 0%, rgb(3,194,219) 100%);
	background-image: -ms-linear-gradient( 60deg, rgb(39,121,255) 0%, rgb(3,194,219) 100%);
}


/********** Navigation Bar Style 3 *********/

.navbar-style-3 a:hover, .navbar-style-3 a.bars-icon, .navbar-style-3 .navbar a:hover, .navbar-style-3 .dropdown:hover .dropbtn {
	color: #7bd275!important;
}

.navbar-style-3 .active, .navbar-style-3 a.bars-icon:hover {
	background-color: #7bd275;
	background-image: -moz-linear-gradient( 60deg, rgb(86,206,120) 0%, rgb(171,216,112) 100%);
	background-image: -webkit-linear-gradient( 60deg, rgb(86,206,120) 0%, rgb(171,216,112) 100%);
	background-image: -ms-linear-gradient( 60deg, rgb(86,206,120) 0%, rgb(171,216,112) 100%);
}


/********** Navigation Bar Style 4 *********/

.navbar-style-4 a:hover, .navbar-style-4 a.bars-icon, .navbar-style-4 .navbar a:hover, .navbar-style-4 .dropdown:hover .dropbtn {
	color: #f35a59!important;
}

.navbar-style-4 .active, .navbar-style-4 a.bars-icon:hover {
	background-color: #f35a59;
	background-image: -moz-linear-gradient( 60deg, rgb(242,77,113) 0%, rgb(244,102,66) 100%);
	background-image: -webkit-linear-gradient( 60deg, rgb(242,77,113) 0%, rgb(244,102,66) 100%);
	background-image: -ms-linear-gradient( 60deg, rgb(242,77,113) 0%, rgb(244,102,66) 100%);
}


/********** Navigation Bar Style 5 *********/

.navbar-style-5 a:hover, .navbar-style-5 a.bars-icon, .navbar-style-5 .navbar a:hover, .navbar-style-5 .dropdown:hover .dropbtn {
	color: #9fa6ee!important;
}

.navbar-style-5 .active, .navbar-style-5 a.bars-icon:hover {
	background-color: #9fa6ee;
	background-image: -moz-linear-gradient( 60deg, rgb(169,160,237) 0%, rgb(149,172,238) 100%);
	background-image: -webkit-linear-gradient( 60deg, rgb(169,160,237) 0%, rgb(149,172,238) 100%);
	background-image: -ms-linear-gradient( 60deg, rgb(169,160,237) 0%, rgb(149,172,238) 100%);
}


/********** Navigation Bar Style 6 *********/

.navbar-style-6 a:hover, .navbar-style-6 a.bars-icon, .navbar-style-6 .navbar a:hover, .navbar-style-6 .dropdown:hover .dropbtn {
	color: #efc453!important;
}

.navbar-style-6 .active, .navbar-style-6 a.bars-icon:hover {
	background-color: #efc654;
	background-image: -moz-linear-gradient( 60deg, rgb(239,171,73) 0%, rgb(239,216,91) 100%);
	background-image: -webkit-linear-gradient( 60deg, rgb(239,171,73) 0%, rgb(239,216,91) 100%);
	background-image: -ms-linear-gradient( 60deg, rgb(239,171,73) 0%, rgb(239,216,91) 100%);
}


/********** Navigation Bar Style 7 *********/

.navbar-style-7 a:hover, .navbar-style-7 a.bars-icon, .navbar-style-7 .navbar a:hover, .navbar-style-7 .dropdown:hover .dropbtn {
	color: #64c5db!important;
}

.navbar-style-7 .active, .navbar-style-7 a.bars-icon:hover {
	background-color: #64c5db;
	background-image: -moz-linear-gradient( 60deg, rgb(94,200,204) 0%, rgb(106,193,234) 100%);
	background-image: -webkit-linear-gradient( 60deg, rgb(94,200,204) 0%, rgb(106,193,234) 100%);
	background-image: -ms-linear-gradient( 60deg, rgb(94,200,204) 0%, rgb(106,193,234) 100%);
}


/********** Navigation Bar Style 7 *********/

.navbar-style-8 a:hover, .navbar-style-8 a.bars-icon, .navbar-style-8 .navbar a:hover, .navbar-style-8 .dropdown:hover .dropbtn {
	color: #ed5174!important;
}

.navbar-style-8 .active, .navbar-style-8 a.bars-icon:hover {
	background-color: #ed5174;
	background-image: -moz-linear-gradient( 60deg, rgb(222,63,138) 0%, rgb(250,97,97) 100%);
	background-image: -webkit-linear-gradient( 60deg, rgb(222,63,138) 0%, rgb(250,97,97) 100%);
	background-image: -ms-linear-gradient( 60deg, rgb(222,63,138) 0%, rgb(250,97,97) 100%);
}

